body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.icon-notifications { 
    color: white;
    background-color: red;
}

.navbar {
    background-color: #003366; /* Azul oscuro */
    padding: 20px;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 25px;
    border-radius: 100px;
    background-color: #003366; /* Azul oscuro */
    color: #fff;
}

.navbar-logo h1 {
    margin: 0;
    font-weight: 600;
    font-size: 1.5em;
}

.navbar-logo a {
    color: #fff;
    text-decoration: none;
}

.navbar-menu {
    display: flex;
    align-items: center;
    gap: 15px;
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
}

.menu-toggle svg {
    fill: #fff;
}

.menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    margin: 0;
}

.menu a {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    padding: 10px 15px;
}

.menu a:hover {
    background-color: #004080; /* Azul más oscuro para hover */
    border-radius: 5px;
}

.profile-button {
    background-color: #007bff; /* Azul */
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
}

.profile-button a {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}

.profile-button a:hover {
    background-color: #0056b3; /* Azul más oscuro para hover */
}