body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.custom-header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    width: 100%;
}

.header-container {
    display: flex;
    justify-content: flex-start;
    padding: 0 20px;
}

.btn-new-client {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.btn-new-client:hover {
    background-color: #0056b3;
}

.search-bar {
    padding: 20px;
    text-align: left;
    padding-left: 20px;
}

.search-bar input {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.clients-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.clients-table th, .clients-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.clients-table th {
    background-color: #f4f4f4;
}

.clients-table td {
    background-color: #fff;
}

.btn-action {
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 5px;
    font-size: 18px;
    color: #333;
}

.btn-action.edit {
    color: #007bff;
}

.btn-action.delete {
    color: #dc3545;
}

.btn-action.details {
    color: #28a745;
}

.btn-action:hover {
    opacity: 0.7;
}

/* Estilo del modal */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 
    
}

.modal-content {
    background-color: #fefefe;
    margin: 0 auto;
    margin-top: 2%;
    padding: 20px;
    border: 1px solid #888;
    width: 90%; 
    max-width: 600px;
    border-radius: 5px;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.modal-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.btn-submit, .btn-cancel {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 10px;
}

.btn-submit:hover {
    background-color: #0056b3;
}

.btn-cancel {
    background-color: #dc3545;
}

.btn-cancel:hover {
    background-color: #c82333;
}